# Virtual Environments
.venv/
env/
venv/

# Caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage Reports
.coverage
htmlcov/
coverage.xml

# Output / Data
parsed.json
